body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #2482b5;
  padding: 0 1.5rem;
}

.main-header__nav {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #6200ff;
}

main {
  padding: 1rem;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  display: block;
  font: inherit;
  border-radius: 2px;
  border: 1px solid #6200ff;
}

button {
  border-radius: 3px;
  border: 1px solid #6200ff;
  background-color: white;
  color: #6200ff;
  cursor: pointer;
  font: inherit;
}

button:hover,
button:active {
  color: white;
  background-color: #6200ff;
}

.form-control {
  margin: 1rem 0;
}

.product-form {
  max-width: 90%;
  width: 30rem;
  margin: auto;
}
